@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply max-w-[1920px] font-ubuntu;
}
h1 {
  @apply text-gray-700 font-medium;
}
.color-pallet img {
  @apply rounded-full border-2 hover:border-p1;
}
.mobile li {
  @apply text-gray-500 hover:underline hover:ml-2 transition-all;
}

.signInUp-input {
  @apply w-full border-b-2 py-2 transition-all  focus:transition-all text-lg focus:border-p1 outline-none;
}
.socialLogin {
  @apply flex gap-2 px-5 py-2  rounded-lg font-semibold items-center justify-center;
}

.progress-bar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: radial-gradient(closest-side, #6a50d2 89%, transparent 80% 100%),
    conic-gradient(#ea580c 48%, pink 0);
}
